doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    img(src="images/logo.jpg" alt="Rocket League Logo") 
  body
    block content
    div(class="Teams" id="Teams")
        div(class="teamDiv" id="Northern")
            <p>Northern Gaming</p>
            img(src="images/NorthernGaming.png" alt="Northern Gaming Logo" height=200 width=200) 
        div(class="teamDiv" id="Flipside")
            <p>Flipside Tactics</p>
            img(src="images/Flipside.png" alt="Flipside Tactics Logo" height=200 width=200) 
        div(class="teamDiv" id="Mockit")
            <p>Mock-It eSports</p>
            img(src="images/Mockit.png" alt="Mock-It eSports Logo" height=200 width=200)
        div(class="teamDiv" id="Dutchmen")
            <p>The Flying Dutchmen</p>
            img(src="images/Dutchmen.png" alt="The Flying Dutchmen Logo" height=200 width=200)
        div(class="teamDiv" id="Kings")
            <p>Kings of Urban</p>
            img(src="images/Kings.png" alt="Kings of Urban Logo" height=200 width=200)
        div(class="teamDiv" id="Exodus")
            <p>Exodus</p>
            img(src="images/Exodus.png" alt="Exodus Logo" height=200 width=200)
        div(class="teamDiv" id="Power")
            <p>iBUYPOWER</p>
            img(src="images/Power.png" alt="iBUYPOWER Logo" height=200 width=200)
        div(class="teamDiv" id="Genesis")
            <p>Genesis</p>
            img(src="images/Genesis.png" alt="Genesis Logo" height=200 width=200)
    <button id="myButton">Click me!</button>