extends layout

block content
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class="teamsDiv")
            div(class="teamRows")
                div(class="teamDiv" id="Northern")
                    <form action="/teams" method="GET">
                    <button class="teamName" name="name" value="Northern Gaming" type="submit">Northern Gaming</button>
                    img(src="images/teamlogos/NorthernGaming.png" alt="Northern Gaming Logo" height=200 width=200) 
                </form>
                div(class="teamDiv" id="Flipside")
                    <form action="/teams" method="GET">
                    <button class="teamName" name="name" value="Flipside Tactics" something="type" value="else" type="submit">Flipside Tactics</button>
                    img(src="images/teamlogos/Flipside.png" alt="Flipside Tactics Logo" height=200 width=200) 
                    </form>
                div(class="teamDiv" id="Mockit")
                    <form action="/teams" method="GET">
                    <button class="teamName" name="name" value="Mock It Esports" type="submit">Mock It eSports</button>
                    img(src="images/teamlogos/Mockit.png" alt="Mock-It eSports Logo" height=200 width=200)
                    </form>
                div(class="teamDiv" id="Dutchmen")
                    <form action="/teams" method="GET">
                    <button class="teamName" name="name" value="The Flying Dutchmen" type="submit">The Flying Dutchmen</button>
                    img(src="images/teamlogos/Dutchmen.png" alt="The Flying Dutchmen Logo" height=200 width=200)
                    </form>

            div(class="teamRows")
                div(class="teamDiv" id="Kings")
                    <form action="/teams" method="GET">
                    <button class="teamName" name="name" value="Kings of Urban" type="submit">Kings of Urban</button>
                    img(src="images/teamlogos/Kings.png" alt="Kings of Urban Logo" height=200 width=200)
                    </form>
                div(class="teamDiv" id="Exodus")
                    <form action="/teams" method="GET">
                    <button class="teamName" name="name" value="Exodus" type="submit">Exodus</button>
                    img(src="images/teamlogos/Exodus.png" alt="Exodus Logo" height=200 width=200)
                    </form>
                div(class="teamDiv" id="Power")
                    <form action="/teams" method="GET">
                    <button class="teamName" name="name" value="iBUYPOWER" type="submit">iBUYPOWER</button>
                    img(src="images/teamlogos/Power.png" alt="iBUYPOWER Logo" height=200 width=200)
                    </form>
                div(class="teamDiv" id="Genesis")
                    <form action="/teams" method="GET">
                    <button class="teamName" name="name" value="Genesis" type="submit">Genesis</button>
                    img(src="images/teamlogos/Genesis.png" alt="Genesis Logo" height=200 width=200)
                    </form>
        </form>

    
