extends layout

block content
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class="teamsDiv")
            div(class="teamRows")
                <form action="/teams" method="POST" class="form-signin full-width text-center">
                div(class="teamDiv" id="Northern")
                    <button class="teamName" type="submit">Northern Gaming</button>
                    img(src="images/NorthernGaming.png" alt="Northern Gaming Logo" height=200 width=200) 
                </form>
                div(class="teamDiv" id="Flipside")
                    <form action="/teams" method="POST" class="form-signin full-width text-center">
                    <button class="teamName">Flipside Tactics</button>
                    img(src="images/Flipside.png" alt="Flipside Tactics Logo" height=200 width=200) 
                    </form>
                div(class="teamDiv" id="Mockit")
                    <p class="teamName">Mock-It eSports</p>
                    img(src="images/Mockit.png" alt="Mock-It eSports Logo" height=200 width=200)
                div(class="teamDiv" id="Dutchmen")
                    <p class="teamName">The Flying Dutchmen</p>
                    img(src="images/Dutchmen.png" alt="The Flying Dutchmen Logo" height=200 width=200)

            div(class="teamRows")
                div(class="teamDiv" id="Kings")
                    <p class="teamName">Kings of Urban</p>
                    img(src="images/Kings.png" alt="Kings of Urban Logo" height=200 width=200)
                div(class="teamDiv" id="Exodus")
                    <p class="teamName">Exodus</p>
                    img(src="images/Exodus.png" alt="Exodus Logo" height=200 width=200)
                div(class="teamDiv" id="Power")
                    <p class="teamName">iBUYPOWER</p>
                    img(src="images/Power.png" alt="iBUYPOWER Logo" height=200 width=200)
                div(class="teamDiv" id="Genesis")
                    <p class="teamName">Genesis</p>
                    img(src="images/Genesis.png" alt="Genesis Logo" height=200 width=200)

        <form action="/teams" method="POST" class="form-signin full-width text-center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Subscribe</button>
        </form>

    
