doctype html
html
    head
<<<<<<< HEAD
        title=title
        link(rel='stylesheet', href='stylesheets/style.css')
=======
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="shortcut icon", type="image/x-icon" href="images/favicon.ico")
        img(src='images/logo.png' id="logo" alt="Rocket League logo alt text" height='648' width='1710')
>>>>>>> 4f46d16e94d7ae19cd52b021d2acbaea6a00cd0e
    body
        block content