extends layout

block content
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        img(src='images/logo.png' id="logo" alt="Rocket League logo alt text" height='648' width='1710')
    body
        div(class="teamsDiv")
            div(class="teamRows")
                div(class="teamDiv" id="Northern")
                    <p class="teamName">Northern Gaming</p>
                    img(src="images/NorthernGaming.png" alt="Northern Gaming Logo" height=200 width=200) 
                div(class="teamDiv" id="Flipside")
                    <p class="teamName">Flipside Tactics</p>
                    img(src="images/Flipside.png" alt="Flipside Tactics Logo" height=200 width=200) 
                div(class="teamDiv" id="Mockit")
                    <p class="teamName">Mock-It eSports</p>
                    img(src="images/Mockit.png" alt="Mock-It eSports Logo" height=200 width=200)
                div(class="teamDiv" id="Dutchmen")
                    <p class="teamName">The Flying Dutchmen</p>
                    img(src="images/Dutchmen.png" alt="The Flying Dutchmen Logo" height=200 width=200)

            div(class="teamRows")
                div(class="teamDiv" id="Kings")
                    <p class="teamName">Kings of Urban</p>
                    img(src="images/Kings.png" alt="Kings of Urban Logo" height=200 width=200)
                div(class="teamDiv" id="Exodus")
                    <p class="teamName">Exodus</p>
                    img(src="images/Exodus.png" alt="Exodus Logo" height=200 width=200)
                div(class="teamDiv" id="Power")
                    <p class="teamName">iBUYPOWER</p>
                    img(src="images/Power.png" alt="iBUYPOWER Logo" height=200 width=200)
                div(class="teamDiv" id="Genesis")
                    <p class="teamName">Genesis</p>
                    img(src="images/Genesis.png" alt="Genesis Logo" height=200 width=200)

        
        <a class="btn btn-lg btn-primary btn-block" href="/" role="button" type="submit">Home</a>
        

    footer
        <p><br>Made by <a href='https://github.com/DiamondBrook'>Austin Cari</a> and <a href='https://github.com/rykerg14'>Ryker Gilbert</a></p>
        <p>Final project for Cloud Data Management @ WSU Vancouver Fall 2020 Semester with Dr. Xuechen Zhang</p>
        <p>All images and assets are trademarks of Psyonix and Epic Games or their respective eSports organizations</p>

