body {
  	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: dodgerblue;
	background-image: url(../images/background_blend.jpg);
	background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

#logo {
	justify-content: center;
	align-items: center;
}

.teamDiv {
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
}